{{#each this}}
<section class="answers-item text-left">
  <div class="meta">
    {{user.username}} {{format_date created_at}} 
  </div>
  <div class="answer-text text-left">
    {{answer_text}}
  </div>
</section>
{{/each}}