<form class="join-group-form">
    <div class="group-info">
        <p>{{group_title}}</p>
        <p>{{group_text}}</p>
    </div>
    <textarea class="hidden group_id" cols="0" rows="0">{{id}}</textarea>
    <button class="join-group">Join {{group_title}}</button>
</form>