<form class="join-group-form">
    <div class="group-info">
        <p>{{group_title}}</p>
        <p>{{group_text}}</p>
    </div>
    <p class="hidden">{{id}}</p>
    <button class="join-group">Join {{group_title}}</button>
</form>