<div class="group-wrapper">
    <div class="group-info-wrapper">
        <h3>{{group_title}}</h3>
        <h3>{{group_text}}</h3>
    </div>
    <div class="group-button-wrapper">
        <a href="/meet/dashboard/{{id}}">Manage Group</a>
    </div>
</div>