<article class="question">
  <div class="user-info text-align-center">
    <a href="/askDevs/edit/{{id}}">{{question_text}}</a></br>
  </div>
  <div class="meta">
    <p>{{answers.length}} {{format_plural "answer" answers.length}}</p>
  </div>
</article>