<article class="question">
  <div class="user-info text-align-center">
    <a href="/askDevs/edit/{{id}}">{{question_text}}</a></br>
    <p>Created on {{format_date created_at}}</p>
  </div>
</article>