<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev-Connect</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<header>
    <div class="logo">

    </div>
    <nav>
        <li><a href="/">Posts</a></li>
        <li><a href="/meet">Meet</a></li>
        <li><a href="/stack">Stack</a></li>
        <li><a href="/shop"></a>Shop</li>
    </nav>

    <div class="bubble links">
        <ul>
            <li><a href="/meet/dashboard">Meet Up Dashboard</a></li>
            <li><a href="/meet/my-groups">My Groups</a></li>
            <li><a href="/meet/my-events">My Events</a></li>
            <li><a href="/my-questions">My Questions</a></li>
            <li><a href="/my-posts">My Posts</a></li>
            <button id="logout" class="">logout</button>

        </ul>
    </div>

</header>

<body>
    <div class="wrapper">
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    <script src="/javascript/logout.js"></script>
</body>

</html>