<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev-Connect</title>
    <link rel="stylesheet" href="/stylesheets/social.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/stylesheets/event-pages/event.css">
    <link rel="stylesheet" href="/stylesheets/question-pages/question.css">

</head>
<header>
    <div class="logo">
        <a href="/"><img src="/images/red-on-trans-logo.png" alt=""></a>
    </div>
    {{#if loggedIn}}
    <div class="links">
        <nav>
            <ul>
                <li><a href="/">Posts</a></li>
                <li><a href="/meet">Meet</a></li>
                <li><a href="/askDevs">askDevs</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
        </nav>

        <div class="bubble links">
            <button class="bubble-button">A</button>
            <ul class="no-opac bubble-nav">
                <li><a href="/meet/dashboard">Meet Up Dashboard</a></li>
                <li><a href="/meet/my-groups">My Groups</a></li>
                <li><a href="/meet/my-events">My Events</a></li>
                <li><a href="/askDevs/my-questions/">My Questions</a></li>
                <li><a href="/dash/create">Your Posts</a></li>

                <button id="logout">Logout</button>

            </ul>
        </div>
    </div>

    {{/if}}



</header>

<body>
    <div class="wrapper">
        <main class="posts">
            {{{ body }}}

        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    {{#if loggedIn}}

    <script src="/javascript/logout.js"></script>
    <script src = "/javascript/like.js"></script>
    <script src="/javascript/main.js"></script>
    {{/if}}
</body>

</html>

