<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Tech News</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
    <div class="logo">

    </div>
    <nav>
        {{#if loggedIn}}
        <button id="logout" class="">logout</button>
        <div class="bubble links">
            <ul>
                <li><a href="/meet-dashboard">Meet Up Dashboard</a></li>
                <li><a href="/my-groups">My Groups</a></li>
                <li><a href="/my-events">My Events</a></li>
                <li><a href="/my-questions">My Questions</a></li>
                <li><a href="/my-posts">My Posts</a></li>

            </ul>
            {{else}}

            <ul>
                <li><a href='/login'>login</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <div></div>

        </div>
        {{/if}}
    </nav>
</header>

<body>
    <div class="wrapper">
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>