<section class="container justify-content-left">
    <h2 class="askDevs-header">askDevs</h2>

    <form class="new-question-form row">
        <div>
        <label for="question-text">Ask a Question</label>
        <input type="text" id="question-text" name="question-text" />
        </div>
        <button type="submit" class="grey-red-btn">Submit</button>
    </form>
    <ol class="col">
        {{#each questions as |questions|}}
        <li>
            {{> question-info question }}
        </li>
        {{/each}}
    </ol>
</section>

<script src="/javascript/add-question.js"></script>