<h2 class="askDevs-header">askDevs</h2>

<a href="/askDevs/question">Have a question? Get help!</a>

<h3>Current Outstanding Questions: </h3>

<ol>
    {{#each user.questions}}
    <li>
        {{> question-info question}}
    </li>
    {{/each}}
</ol>