<a href="/askdevs"><h2 class="askDevs-header">askDevs</h2></a>

<section class="askDevs-homepage row">
    <form class="new-question-form col-sm-4">
        <div>
            <label for="question-text">Ask a Question</label>
            <input type="text" id="question-text" name="question-text" />
            <button type="submit" class="grey-red-btn">Submit</button>
        </div>
    </form>
    <ul class="question-list col-sm-7">
        {{#each questions as |question|}}
        <li>
            {{> question-info question }}
        </li>
        {{/each}}
    </ul>
</section>

<script src="/javascript/add-question.js"></script>