<section class="create-group-section">
    <h2>Dashboard</h2>
    <h2>Create a new group</h2>
    <div>
        <form class="create-group-form">
            <p>Create a new group</p>
            <input type="text" name="group-name" class="group-name" placeholder="Name of your group">
            <textarea name="about-group" id="about-group" cols="30" rows="10">What is your group about?</textarea>
            <input type="number" name="zip" class="zip" placeholder="Zip Code">
            <button type="submit">Create Group</button>
        </form>
    </div>
</section>

<script src="/javascript/create-group.js"></script>