<section class="add-event-wrapper">
    {{#if isOwner}}
    <h2>Add Event to {{group_title}}</h2>
    <form class="add-event-form">
        <div class="col-1">
            <input type="text" name="event-title" class="event-title" placeholder="Name of Event" />
            <input type="text" name="time-and-date" class="time-and-date" placeholder="Time and Date of Event" />
            <input type="text" name="event-location" class="event-location" placeholder="Adress of event" />

        </div>
        <div class="col-2">
            <textarea name="event-info" id="event-info" cols="30"
                rows="10">Add information about this event here</textarea>
        </div>
        <button class="confirm-add-event" type="submit">Add Event</button>
    </form>
    {{else}}
    <h2>You do not have access to edit this event!</h2>
    <h2>Want to create an event for you group? Go to you <a href="/meet/dashboard">dashboard</a></h2>
    {{/if}}
</section>
<script src="/javascript/add-event.js"></script>