<section class="meet-info">
    <h2>Welcome to meetDevs</h2>
    <p>meetDevs is a great place to find groups for developers like you! Simply enter your zip-code in the find group
        form below and pick a group that best fits your needs! Don't see a group in your area? Feel free to start one!
        Free of charge!</p>
</section>
<section class="get-group-wrapper">
    <div class="start-group-wrapper">
        <h2>Start a group in your area!</h2>
        <form class="create-group-form">
            <input type="text" name="group-name" class="group-name" placeholder="Name of your group">
            <textarea name="about-group" id="about-group" cols="30" rows="10"
                placeholder="What is your group about?"></textarea>
            <input type="number" name="zip" class="zip" placeholder="Zip Code">
            <button type="submit" class="grey-red-btn">Create Group</button>
        </form>
    </div>
    <div class="find-group-wrapper">
        <h2>Find a group near you!</h2>
        <form class="find-group-form">
            <input type="range" class="mile-slider" max="150" min="10" value="20">
            <p>Within <span class="miles-nr">20</span> miles</p>
            <input type="number" name="zip-code" placeholder="Zip Code">
            <button type="submit" class="grey-red-btn">Find a group!</button>
        </form>
        <button class="use-location grey-red-btn">Use your current location?</button>
    </div>
</section>
<div class="disclamer">
    <p>Note: Please keep group content clean and related to Coding. This is a platform for developers
        and
        should be used
        as one. Thank you for following our standards! Have fun and happy coding!</p>
</div>

<script src="/javascript/group-by-zip.js"></script>
<script src="/javascript/create-group.js"></script>