{{#if isMember}}

<div class=" hidden attend-event-success">
    <p>You are now successfully attending this event!</p>
</div>
<div class="hidden attend-event-fail">
    <p>You are already attending this event!</p>
</div>
<section class="group-content-wrapper">
    <div class="group-info-wrapper">
        <h2 class="group-name">{{groups.group_title}}</h2>
        <p>{{groups.group_text}}</p>
    </div>
    <div class="group-event-wrapper">
        <ol>
            {{#each groups.events}}
            <li>
                {{> events}}
            </li>
            {{/each}}
        </ol>
    </div>
</section>
<script src="/javascript/join-event.js"></script>
{{else}}

<h2>You arent a part of this group!</h2>
<p>Want to be a part of this group? Go to groups <a href="/meet">home page!</a></p>
{{/if}}