<div class="hidden join-group-fail">
    <p>You are already part of this group</p>
</div>

<section class="groups-near-user-wrapper">
    <ol>
        {{#each groups}}
        <li>
            {{> groups-by-zip}}
        </li>
        {{/each}}
    </ol>
</section>

<script src="/javascript/join-group.js"></script>