<section class="meet-info">
    <h2>Welcome to Meet</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid temporibus natus omnis voluptatem quisquam
        dolor. Nihil vitae quos eligendi unde fugit libero error animi deleniti alias iste repellendus ab consectetur,
        dicta commodi a. Delectus, voluptatem. Doloremque aspernatur debitis, blanditiis ex deleniti cumque autem
        perspiciatis sapiente sed, sit, quam incidunt laudantium nam. Inventore minima recusandae dicta optio officiis
        ut adipisci maxime quaerat nemo fugiat nam facilis iste incidunt, harum quidem ex consequuntur. Aliquid beatae
        aperiam quod impedit repudiandae odio debitis sint quos mollitia eos, blanditiis cumque sequi id molestiae
        accusantium temporibus vero culpa voluptates? Totam quia sequi nisi molestiae aperiam praesentium!</p>
</section>
<section class="get-group-wrapper">
    <div class="start-group-wrapper">
        <h2>Start a group in your area!</h2>
        <form class="create-group-form">
            <input type="text" name="group-name" class="group-name" placeholder="Name of your group">
            <textarea name="about-group" id="about-group" cols="30" rows="10"
                placeholder="What is your group about?"></textarea>
            <input type="number" name="zip" class="zip" placeholder="Zip Code">
            <button type="submit" class="grey-red-btn">Create Group</button>
        </form>
    </div>
    <div class="find-group-wrapper">
        <h2>Find a group near you!</h2>
        <form class="find-group-form">
            <input type="number" name="zip-code" placeholder="Zip Code">
            <button type="submit" class="grey-red-btn">Find a group!</button>
        </form>
        <button class="use-location grey-red-btn">Use your current location?</button>
    </div>
</section>

<script src="/javascript/group-by-zip.js"></script>
<script src="/javascript/create-group.js"></script>