{{#if userdata}}
<section class="my-events-wrapper">
    <h2>{{user.first_name}}'s events'</h2>
    <ol>
        {{#each user.event_user}}
        <li>
            {{> user-events}}
            <a href="/meet/group-home/{{group.id}}">Go to group homepage</a>
        </li>
        {{/each}}
    </ol>
</section>
{{else}}
<section class="my-groups-wrapper">
    <h2>You are currently not joining any events!</h2>
    <p>Go to the <a href="/meet">events homepage</a> to join an event!</p>
</section>
{{/if}}