{{#if userdata}}
<section class="my-groups-wrapper">
    <h2>{{user.first_name}}'s groups</h2>
    <ol>
        {{#each user.group_user}}
        <li>
            {{> user-groups}}
        </li>
        {{/each}}
    </ol>
</section>
{{else}}
<section class="my-groups-wrapper">
    <h2>You are currently not a part of any groups!</h2>
    <p>Go to the <a href="/meet">events homepage</a> to join a group!</p>
</section>
{{/if}}