<section class="create-group-section">
    <h2 class="dashboard-header">Dashboard</h2>
    <h2 class="dashboard-info">Create a new group</h2>
    <div>
        <form class="create-group-form dash-create-group-form">
            <input type="text" name="group-name" class="group-name" placeholder="Name of your group">
            <textarea name="about-group" id="about-group" cols="30" rows="10"
                placeholder="What is your group about?"></textarea>
            <input type="number" name="zip" class="zip" placeholder="Zip Code">
            <button type="submit" class=" grey-red-btn">Create Group</button>
        </form>
    </div>
</section>

<script src="/javascript/create-group.js"></script>