<button id="logout" class="">logout</button>
<div class="bubble links">
    <ul>
        <li><a href="/meet-dashboard">Meet Up Dashboard</a></li>
        <li><a href="/my-groups">My Groups</a></li>
        <li><a href="/my-events">My Events</a></li>
        <li><a href="/my-questions">My Questions</a></li>
        <li><a href="/my-posts">My Posts</a></li>

    </ul>
</div>
<script src="/javascript/logout.js"></script>