<h2 class="askDevs-header">askDevs</h2>
<section>
    <form class="new-question-form row">
        <div>
            <label for="question-text">Ask a Question</label>
            <input type="text" id="question-text" name="question-text" />
        </div>
        <button type="submit" class="grey-red-btn">Submit</button>
    </form>
</section>
<section>
    <h2> Click on a Question to Edit</h2>
    <h2>{{user.username}}'s Questions</h2>
    <ol class="question-list col">
        {{#each user.questions}}
        <li class="text-left">
            {{> user-questions }}
        </li class="text-left">
        {{/each}}
    </ol>
</section>

<script src="/javascript/add-question.js"></script>