<link rel="stylesheet" href="/stylesheets/store-page/store.css" />
<script src="./javascript/items.js"></script>




<div class="sr-root">
  <div class="sr-main">
    <img src="/images/Thanks.jpg " class="sr-header">

    </header>

    <div class="sr-payment-summary completed-view">
      <h1>Your payment succeeded</h1>

    </div>
    <div class="sr-section completed-view">
      <div class="sr-callout">
        <pre></pre>
      </div>
      <button class="return" onclick="location.href='/shopping';">Return to the Store</button>
    </div>
  </div>