{{> question-info question}}
  {{#if loggedIn}}
<section class="container">
  <form class="answer-form">
    <h4>Submit an Answer</h4>
    <div>
      <textarea name="answer-body"></textarea>
    </div>

    <div>
      <button type="submit" class="grey-red-btn">Answer</button>
    </div>
  </form>
  {{/if}}
</section>
<section class="container">
{{> answers question.answers}}
</section>
<section class="footer-gap">

</section>

{{#if loggedIn}}
<script src="/javascript/answer.js"></script>
{{/if}}