{{> post-info post}}

<!-- displaying form and comments-->

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}

{{> comments post.comments}}
<script src="/javascript/comment.js"></script>