<section class="container content-section">
    <h2 class="category">Clothes</h2>
    <div class="shop-items">

        <span class="shop-item-title">DevConnect White T-Shirt</span>
        <img class="shop-item-image" src="images/W_T-Shirt_png">
        <div class="shop-item-details">
            <span class="shop-item-price">$12.99</span>
            <button class="shop btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
    </div>
    <span class="shop-item-title">DevConnect White T-Shirt</span>
    <img class="shop-item-image" src="images/B_T-Shirt_png">
    <div class="shop-item-details">
        <span class="shop-item-price">$12.99</span>
        <button class="shop btn-primary shop-item-button" type="button">ADD TO CART</button>
    </div>
    </div>

    </div>
</section>