<section class="products">
    <div class="section-title">
        <h2> Our Products</h2>
    </div>
    <div class="products-center"></div>
    {{!-- single product --}}
    <article class="product">
        <div class="img-container">
            {{!-- <img src="../public/images/tshirt_W.png" alt="product" class="product-img"> --}}
            <button class="bag-btn" data-id="1"></button>
            <i."fas fa-shopping-cart" </div>
    </article>
    <span class="shop-item-title">DevConnect White T-Shirt</span>
    <img class="shop-item-image" src="images/W_T-Shirt_png">
    <div class="shop-item-details">
        <span class="shop-item-price">$12.99</span>
        <button class="shop btn-primary shop-item-button" type="button">ADD TO CART</button>
    </div>
    </div>
    <span class="shop-item-title">DevConnect White T-Shirt</span>
    <img class="shop-item-image" src="images/B_T-Shirt_png">
    <div class="shop-item-details">
        <span class="shop-item-price">$12.99</span>
        <button class="shop btn-primary shop-item-button" type="button">ADD TO CART</button>
    </div>
    </div>

    </div>
</section>