* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

.hidden {
  display: none;
}


.grey-red-btn {
  background-color: #222831;
  color: #f05454;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  position: relative;
  top: 0;
  cursor: pointer;
}
.grey-red-btn:hover {
  top: 2px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #222831;
  align-items: center;
  height: 10rem;
  margin-bottom: 4rem;
}

.links {
  display: flex;
}

nav ul {
  display: flex;
  margin-right: 50px;
  list-style: none;
  align-items: center;
  height: 100%;
}

nav ul li a {
  margin-right: 1rem;
  text-decoration: none;
  color: #f05454;
  font-size: 24px;
}

.logo img {
  width: 400px;
  height: 134.94117647059px;
}

.bubble-button {
  margin-top: 8rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.bubble-button:hover {
  cursor: pointer;
}
.bubble {
  position: relative;
  top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bubble ul {
  list-style: none;
  margin-top: 1rem;
  background-color: #e8e8e8;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.5s;
}
.no-opac {
  opacity: 0;
  pointer-events: none;
}
.bubble ul li,
.bubble ul button {
  margin-top: 10px;
}
.bubble ul li a {
  text-decoration: none;
  color: #f05454;
}
#logout {
  border: none;
  color: #f05454;
}
#logout:hover {
  cursor: pointer;
}

/* Login page styles */

.login-page-wrapper,
.signup-page-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25rem;
}
.login-wrapper,
.signup-wrapper {
  padding: 2rem;
  background-color: #222831;
  color: #e8e8e8;
  border-radius: 5px;
}
.login-wrapper button,
.signup-wrapper button {
  margin-top: 1rem;
  width: 5rem;
}
.create-account-btn-wrapper a,
.create-account-btn-wrapper a,
.signup-wrapper a {
  text-decoration: underline;
  color: #f05454;
}
/* End of login page */

.privacy-wrapper {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

/* Jephte's beginning styling */

.new-post-form {
  width: 80%;
  margin: 50px auto;
}
.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.individual-post {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

/* Jephte's end styling */

footer {
  width: 100%;
  background-color: #222831;
  color: #f05454;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 24px;
}

@media screen and (max-width: 1051px) {
  .signup-page-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 940px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 15rem;
  }
  nav ul {
    height: 10%;
    margin: 0 0 0 13rem;
  }
  .bubble-button {
    position: relative;
    margin: 0;
    bottom: 10rem;
    left: 8rem;
  }
  .bubble ul {
    position: relative;
    bottom: 11rem;
    left: 3rem;
    border: 0.5px solid black;
  }
  .logo {
    margin-right: 10rem;
  }
}

@media screen and (max-width: 740px) {
  .bubble-button {
    left: 3.5rem;
  }
  .bubble ul {
    left: 0rem;
  }
  nav ul {
    margin: 0 0 0 7rem;
  }
}
@media screen and (max-width: 640px) {
  nav ul {
    margin: 0 0 0 5rem;
  }
  .login-page-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 540px) {
  .logo img {
    width: 250px;
    height: 84.338235294119px;
  }
  header {
    height: 10rem;
  }
  .bubble-button {
    left: 4rem;
    bottom: 7rem;
  }
  nav ul {
    margin: 0 0 0 3rem;
  }
  .bubble ul {
    bottom: 7rem;
    right: 8rem;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .bubble ul {
    bottom: 7rem;
    left: 1.5rem;
    margin: 0;
  }
  .bubble-button {
    left: 4rem;
    bottom: 7rem;
  }
  .bubble {
    right: 2rem;
  }
  nav ul {
    margin: 0 0 0 0.5rem;
  }
  .logo {
    margin-right: 5rem;
  }
  nav ul li a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 420px) {
  nav ul li a {
    font-size: 1rem;
  }
  .logo img {
    width: 180px;
    height: 60.723529411766px;
  }
  .logo {
    margin-right: 10rem;
  }
  header {
    height: 8rem;
  }
}
@media screen and (max-width: 340px) {
  .bubble-button {
    left: 2rem;
    bottom: 6rem;
  }
  .bubble ul {
    bottom: 6rem;
    left: 0rem;
    margin: 0;
  }
  .logo {
    margin-right: 8rem;
  }
  .links {
    width: 90%;
  }
}
