/* Global styles */
input,
textarea {
  color: #30475e;
  padding: 0.5rem;
  transition: all 1s;
  border-radius: 5px;
  margin-top: 1rem;
}
input:focus,
textarea:focus {
  outline: 0.8px solid #30475e;
}
/* Main meet page */
.meet-info {
  text-align: center;
  width: 50rem;
  margin: 0 auto;
}
.get-group-wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.start-group-wrapper,
.find-group-wrapper {
  border: 1px solid black;
  padding: 2rem 3rem;
  background-color: #222831;
  color: #e8e8e8;
  border-radius: 5px;
}

.start-group-wrapper form,
.find-group-wrapper form {
  display: flex;
  flex-direction: column;
}

.start-group-wrapper form input,
.start-group-wrapper form textarea,
.start-group-wrapper form button,
.find-group-wrapper form input,
.find-group-wrapper form button,
.use-location {
  margin-top: 1rem;
}
.use-location {
  padding-right: 1rem;
  padding-left: 1rem;
}
.disclamer {
  margin-bottom: 5rem;
}
/* End of main meet page */

/* Begin of main dashboard page */

.dashboard-header {
  font-size: 2.5rem;
}
.dashboard-info {
  font-size: 2rem;
}
.dashboard-groups {
  margin-top: 1rem;
}
.dashboard-groups {
  margin-bottom: 30rem;
}
.create-group-btn {
  margin-top: 3rem;
}
.create-group-btn a,
.group-button-wrapper a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.8rem;
  color: #f05454;
  background-color: #222831;
}
.group-button-wrapper a {
  background-color: #e8e8e8;
  color: #222831;
}
.group-button-wrapper {
  margin-top: 2rem;
}
.group-info-wrapper h3 {
  font-size: larger;
}
.dashboard-groups ol li {
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3rem 1rem;
  width: 30%;
  margin: 1rem auto;
  background-color: #222831;
  color: #e8e8e8;
}
.create-group-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}
.create-group-form button {
  width: 50%;
  margin: 1rem auto;
}

@media screen and (max-width: 890px) {
  .meet-info {
    width: 30rem;
  }
  .get-group-wrapper {
    flex-direction: column;
  }
  .find-group-wrapper {
    margin-top: 2rem;
  }
  .disclamer {
    width: 50%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 580px) {
  .dashboard-groups ol li {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .meet-info {
    width: 20rem;
  }
}
@media screen and (max-width: 440px) {
  .start-group-wrapper {
    padding: 2rem 1rem;
  }
  .find-group-wrapper {
    padding: 2rem 1rem;
  }
  .dashboard-groups ol li {
    width: 70%;
  }
}
