body {
  text-align: center;
}

.askDevs-header {
  font-weight: bold;
  margin: 25px 0 25px;
}

.askDevs-header:hover {
  color: #f05454;
  transition: 1.5s;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  text-decoration: none;
  color: #30475e;
  transition: 2s;
}

label {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.footer-gap {
    margin-top: 30rem;
}

/* question styling */
.question-list ul:nth-child(odd),
.question-list li:nth-child(odd) {
  background-color: #dddddd;
}

.question-list ul,
.question-list li {
  border-radius: 5px;
}

.edit-question-form,
.new-question-form {
  padding: 10px 15px;
  margin: 0 auto 35px;
  max-width: fit-content;
  max-height: fit-content;
  background-color: #dddddd;
  border-top: solid 50px #222831;
  border-right: solid 25px #222831;
  border-bottom: solid 50px #222831;
  border-left: solid 25px #222831;
  border-radius: 5px;
}

.my-questions {
  max-width: 80%;
  margin-bottom: 30rem;
}

.user-questions {
  margin-bottom: 25px;
}

.user-info {
  padding: 15px 25px;
}

.delete-question-btn {
  background-color: #f05454;
  color: #222831;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  position: relative;
  top: 0;
  cursor: pointer;
  font-weight: bold;
}

.delete-question-btn:hover {
  top: 2px;
}

/* answer styling */
.answer-form {
  padding: 10px 15px;
  max-height: fit-content;
  max-width: fit-content;
  margin: 0 auto 30px;
  background-color: #dddddd;
  border-top: solid 50px #222831;
  border-right: solid 25px #222831;
  border-bottom: solid 50px #222831;
  border-left: solid 25px #222831;
  border-radius: 5px;
}

.answers-item {
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
}
.answers-item:nth-child(odd) {
  background-color: #dddddd;
}
